*{
    margin: 0px;
    padding: 0px;
}

.bangspnb{
    width: 80%;
    cellspacing:0;
    height: 300px;
    margin-left: 10px;
    background: #FAFAFA;
}

.spnoibat{
    margin-bottom: 10px;
    text-align: center;
    color: #f46523;
    font-size: 30px;
}

.cotspnoibat{
    valign: top;
    width:300px;
}

.cotspnoibat a{
    text-decoration: none;
    color: #2E2E2E;
}

.cotspnoibat a:hover{
    color: #0101DF;
}

.cotspnoibat img{
    margin-left: 40px;
    margin-bottom: 20px;
}

.cotspnoibat p{
    color:#f46523;
    margin-top: 5px;
    font-size: 18px;
}

.btspnoibat{
    width: 140px;
    height: 35px;
    background: #f46523;
    border:none;
    margin-left: 450px;
    margin-top: 10px;
    border-radius: 15px;
    color: #FAFAFA;
}