*{
    margin: 0px;
    padding: 0px;
}

.table{
    width: 250px;
    cellspacing: 0;
    text-align: center;
}

.danhmuc{
     height: 50px;
     background: #4092bf;
     color: #fff;
}

.tendm{
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
}

.tendm:hover{
    background:#4092bf;
}

.tendm a{
    text-decoration: none;
    color: #000000;
}

.tendm a:hover{
    color: #FAFAFA;
}