*{
    margin: 0px;
    padding: 0px;
}

.tknc{
    width: 250px;
    height: 330px;
}

.tk{
    color: #f46523;
    margin-bottom: 10px;
    margin-left: 15px;
}
.tknc form{
}

.tknc form h4{
    margin-bottom: 10px;
    font-size: 18px;
    margin-left: 10px;
}

.tx{
    height: 27px;
    margin-bottom: 10px;
    width: 90%;
    margin-left: 10px;
}

.bt{
    width: 140px;
    height: 40px;
    background: #f46523;
    border:none;
    border-radius: 10px;
    color: #FAFAFA;
    margin-top: -10px;
    margin-left: 50px;
    margin-bottom: 10px;
}